{% extends 'base.html.twig' %}

{% block title %}&#9992; AirAtlantique{% endblock %}

{% block body %}

  
  
  <h2 style="text-align : center; color : white;">Destinations populaires</h2>
  
  <div class="carousel" style="margin-top : -80px; z-index : 5;">
    <a class="carousel-item" href="{{ path('rechercheVol')}}" style="width:500px !important"><img src="{{asset('Assets/Media/London.jpg')}}"></a>
    <a class="carousel-item" href="{{ path('rechercheVol')}}" style="width:500px !important"><img src="{{asset('Assets/Media/Manathan.jpg')}}"></a>
    <a class="carousel-item" href="{{ path('rechercheVol')}}" style="width:500px !important"><img src="{{asset('Assets/Media/Sydney.jpg')}}"></a>
    <a class="carousel-item" href="{{ path('rechercheVol')}}" style="width:500px !important"><img src="{{asset('Assets/Media/Tokyo.jpg')}}"></a>
    <a class="carousel-item" href="{{ path('rechercheVol')}}" style="width:500px !important"><img src="{{asset('Assets/Media/Mountain.jpg')}}"></a>
  </div>

  <center>
      <div class="row" style="width : 20%; margin-top : -40px; border : solid 1px #353535; border-radius : 15px;background : linear-gradient(0.5turn, #353535, #838383, #535353); z-index : 8888115;">
        <a href="{{ path('rechercheVol')}}">
          <h4 style="color : white; margin-top: 10px;">Acheter un billet</h4>
        </a> 
      </div>
    </center>
{% endblock %}
