{% for vol in vols %}
<div style="background : white; margin-top : 10px; border : solid 1px black; border-radius : 4px;">

    <div class="row" style="width : 98%; background-color : #913535 ; margin : 5px;">
        <div style="float : left; width : 50%; margin : -5px; text-align : center; color : white;">
            <h5><i class="material-icons prefix">flight_takeoff</i> - {{vol.nom_aeroport_depart}}</h5></br>
            <h6 style="margin-top : -20px;">{{vol.pays_aeroport_depart}}</h6></br>
            <h5 style="margin-top : -15px;">{{vol.date_depart}}</h5>
        </div>

        <div style="float : right; width : 50%; margin : -5px; text-align : center; color : white;">
            <h5><i class="material-icons prefix">flight_land</i> - {{vol.nom_aeroport_arrivee}}</h5></br>
            <h6 style="margin-top : -20px;">{{vol.pays_aeroport_arrivee}}</h6></br>
            <h5 style="margin-top : -15px;">{{vol.date_arrivee}}</h5>
        </div>
    </div>

    <div class="row" style="text-align : center;">
        <h6> <b>{{vol.place_eco}} / {{vol.total_place_eco}}</b> places Eco | <b>{{vol.place_premium}} / {{vol.total_place_premium}}</b> places Premium | <b>{{vol.place_business}} / {{vol.total_place_business}}</b> places Business</h6>
    </div>    
</div>
{% endfor %}